*{
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

.login-hero{
    width: auto;
    height: 70vh;
}

.container{
    height: 100vh;

}

.row{
    height: 100vh;
}

.btn{
    background-color: #256D85;
    width: 100%;
}
.btn-register{
    background-color: #A802A0;
}
.btn:hover{
    background-color: #0d617d;
    
}